---
layout: default
---

<div class="row">
  <div class="main-content">{{ content }}</div>
</div>

<div class="row five combined light">
  {% for feature in page.featured %}
  <div>
    <a href="{{ feature.url }}">
      <img alt="{{ feature.alt }}" src="{{ feature.image }}">
    </a>
    <h2>
        <a href="{{ feature.url }}">{{ feature.title }}</a>
    </h2>
    <p>
      {{ feature.description }}
    </p>
  </div>
  {% endfor %}
</div>


<div class="row three flex separate dark">
  <div class="wrap">
    <div class="block profile-block" id="profile">
      <h3 class="block-header">More Resources</h3>
      <div class="inner">
        <img src="assets/images/reporting-photo.jpg" alt="A person cover with tape human rights cover the mouth">
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="block" id="profile">
      <div class="inner">
        <ul class="home-text-block">

          <li><a href="http://www.uscourts.gov/about-federal-courts/educational-resources/about-educational-outreach/activity-resources/what-does">United States Courts: What Does Free Speech Mean?</a></li>

<li><a href="http://www.firstamendmentcenter.org/">First Amendment Center</a></li>

<li><a href="https://www.aclu.org/">American Civil Liberties Union (ACLU)</a></li>

<li><a href="https://www.nlg.org/">National Lawyers Guild (NLG)</a></li>

<li><a href="https://www.thefire.org/">Foundation for Individual Rights in Education (FIRE)</a></li>

<li><a href="https://deanofstudents.ucsc.edu/student-conduct/index.html">UC Santa Cruz Student Conduct and Community Standards</a></li>

<li><a href="https://freespeechcenter.universityofcalifornia.edu/">UC National Center for Free Speech</a></li>

<li><a href="https://help.ucsc.edu">Report Concerns or Violations</a></li>


        </ul>
      </div>
    </div>
  </div>
</div>
<p class="align-center"><em>UC Santa Cruz would like to thank our colleagues at <a href="https://studentexpression.ucdavis.edu">UC Davis</a> and <a href="https://freespeech.ucsd.edu">UC San Diego</a> for allowing us to adopt content from their website.</em></p>
