---
layout: default
---

{% if page.hero %}
<section class="row hero">
  <div class="hero-area">
    {%- if page.hero.link %}
    <a href="{{ page.hero.link }}">
      {% endif %}
      <img src="{{ page.hero.url }}" alt="{{ page.hero.text }}" />
      <div class="text">
        <h2>{{ page.hero.headline }}</h2>
        <p>{{ page.hero.description }}</p>
      </div>
      {%- if page.hero.link %}
    </a>
    {% endif %}
  </div>
</section>
{% endif %}

<div class="row">
  <div class="main-content">{{ content }}</div>
</div>

<div class="row three flex separate dark">
  <div class="wrap">
    <div class="block profile-block" id="profile">
      <h3 class="block-header">Resources</h3>
      <div class="inner">
        <img src="assets/images/reporting-photo.jpg" alt="A person cover with tape human rights cover the mouth">
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="block" id="profile">
      <div class="inner">
        <ul class="home-text-block">
          <li><a href="#">Report Violations and Concerns</a></li>
          <li><a href="free-speech-statement.html">UCSC Free Speech Statement</a></li>
          <li><a href="first-amendment-faqs.html">First Amendment FAQs</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
