---
layout: default
---

{% if page.hero %}
<section class="row hero">
  <div class="hero-area">
    {%- if page.hero.link %}
    <a href="{{ page.hero.link }}">
      {% endif %}
      <img src="{{ page.hero.url }}" alt="{{ page.hero.text }}" />
      <div class="text">
        <h2>{{ page.hero.headline }}</h2>
        <p>{{ page.hero.description }}</p>
      </div>
      {%- if page.hero.link %}
    </a>
    {% endif %}
  </div>
</section>
{% endif %}

<div class="row">
  <div class="main-content">{{ content }}</div>
</div>

<div class="row three flex separate dark">
  <div class="wrap">
    <div class="block profile-block" id="profile">
      <h3 class="block-header">Welcoming our new students</h3>
      <div class="inner">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/XIdVakBUazM"
          frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="block quote-block" id="profile">
      <div class="inner">
        <blockquote>
          "UC Santa Cruz is an extraordinary place, a community of unique,
          engaged students, and purpose-driven faculty and staff."
          <span>—Chancellor Cynthia Larive</span>
        </blockquote>
      </div>
    </div>
  </div>
</div>
