.hero-area .text h2,
.hero-area .text p {
  margin: 0.2em 0;
  color: rgba(255, 255, 255, 1);
}

#sprflt {
  .main-content,
  .sidebar {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.three.separate.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .wrap {
    flex-basis: 48%;
    float: none;
    width: auto;
    .home-text-block {
      margin: 4.5rem 0 0;
      li:first-child a {
        font-weight: 700;
      }
    }
  }

  blockquote span {
    display: block;
    text-align: right;
    margin-top: 1em;
  }
}

/** accordion **/
.collapsible {
  border-top: 0px solid #ddd !important;
  border-right: 0px solid #ddd !important;
  border-left: 0px solid #ddd !important;
  border-bottom: 0px solid #ddd !important;
  box-shadow: none !important;
}

.collapsible-header {
  display: flex !important;
  background-color: #fff !important;
  border-bottom: 1px solid #ddd !important;
  line-height: 1.5rem !important;
  min-height: 1.5rem !important;
  padding: 1rem !important;
  color: #006aad;
}

.collapsible-body {
  border-top: 1px solid #ddd;
  border-bottom: 0 !important;
}

.collapsible-body p {
  padding: 1rem 1rem !important;
}

.collapsible-header i {
  line-height: 1rem !important;
  margin-right: 0 !important;
}

.faqs-list {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: none !important;
}

.faq-title {
  display: block;
}

.faqs-list .collapsible-body ul {
  list-style-type: disc !important;
}

.collapsible-header.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.expand-icon {
  display: block;
  float: left;
  height: 0rem;
  width: 2rem;
}

/** end accordion **/

@media screen and (min-width: 48em) {
  .hero-area.layout-left {
    width: 100%;
    max-width: 50%;
    margin: 2% 0;
  }
  .hero-area.layout-left {
    left: 0;
  }
  .color-gold {
    background-color: #f1af13;
  }

  .hero-area {
    width: 100%;
    bottom: 0;
    z-index: 1;
    position: relative;

    .text {
      position: absolute;
      bottom: 2em;
      left: 0;
      background-color: rgba(0, 60, 108, 1);
      padding: 1em 2em;
      max-width: 26em;
      font-size: 1.1rem;

      h2,
      p {
        color: rgba(255, 255, 255, 1);
        margin: 0 0 0.25em 0;
      }

      h2 {
        font-weight: 600;
      }
    }
  }
}

.main-navigation .current,
.main-navigation .current:focus,
.main-navigation .current:hover,
.main-navigation .current:active {
  text-decoration: none;
  border-bottom: 2px solid #cdecff !important;
  color: #000000 !important;
}

a:focus-visible {
  color: #111111 !important;
  background-color: #ffff00 !important;
  border: none !important;
  outline: 1px dotted #111111;
  text-decoration: none !important;
}

.separate .inner {
  min-height: auto;
}

#noflt .main-content {
  max-width: 42em;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#main {
  flex-grow: 1;
}

.main-content > :first-child {
  margin-top: 0;
  padding-top: 0;
}

@media screen and (min-width: 48em) {
  .three.separate.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .wrap {
      flex-basis: 48%;
      float: none;
      width: auto;
    }

    blockquote {
      margin-top: 3em;

      span {
        margin-top: 0.25em;
      }
    }
  }

  .gsc-control-cse {
    padding: 0 !important;
  }

  #sprflt {
    flex-direction: row-reverse;
  }

  #sprflt .main-content {
    width: 75%;
    margin-left: 1%;
  }

  #sprflt .sidebar {
    width: 24%;
  }

  .quote-block .inner {
    blockquote {
      text-transform: none;
      font-size: 1.6rem;
      font-weight: 300;
      border: 0;
      padding: 0 1em;
    }

    span {
      font-weight: 400;
      display: block;
      text-align: right;
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      background-color: red;
    }
  }
}

@keyframes fadeIt {
  0% {
    background-color: #ffffff;
  }
  10% {
    background-color: #ffff8f;
  }
  100% {
    background-color: #ffffff;
  }
}

:target {
  animation: fadeIt 3s ease-in-out;
}

.cp-evc-search-advisory-committee table tr td:nth-child(odd) {
  width: 17vw;
}

.announcements ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

.announcements li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0.5em 0 1em 0;

  span {
    flex: 0 1 16ch;
    padding-right: 1em;
  }

  a {
    flex: 3 0 50ch;
  }
}

.sidebar > :first-child {
  margin-top: 1rem;
}
